# Jupyter Book and documentation dependencies
jupyter-book==0.15.1
sphinx<6,>=4
myst-nb~=0.17.1
sphinx-design~=0.3.0
sphinx-copybutton
sphinx-multitoc-numbering

# Python packages for examples
z3-solver

# Plotting for example notebooks
matplotlib

# Optional: for interactive features
sphinx-thebe

# Optional: for minizinc
minizinc