.timeline {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.timeline .event {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5em;
}
.timeline .event .date {
  width: 120px;
  font-weight: bold;
  flex-none: true;
}
.timeline .event .desc {
  flex: 1;
}